
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;    
}

.description_me{
    display: inline-block;
    animation: title_animation 1s 1 0s cubic-bezier(0.18, 0, 0.5, 1.0);
}

@keyframes title_animation{
    0%{
        transform: translateX(-900px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.description_me h1{
    font-size: 150px;
    width: 600px;
}

.description_me h4{
    font-size: 35px;
    position: relative;
    top: -50px;
    left: 50px;
    color: var(--yellow);
}

.description_me article{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 600px;
    height: 350px;
    padding: 20px;

    /* background-color: var(--transparent_black); */
    background: linear-gradient(145deg, #202020, #151515);
    box-shadow: 12px 12px 20px #131313, 
                -12px -12px 20px #222222;
    border-radius: 5%;

    text-align: justify;
}

.description_me article .language{
    display: inline-block;
    margin: auto;
    font-size: 40px;
    cursor: pointer;
}

.description_me article .language i{
    text-align: center;
    padding: 0 5px;
    transition: 0.2s;
}

.description_me article .language i:hover{
    transform: scale(1.2);
}

.fa-html5:hover{
    color: var(--html);
}
.fa-css3-alt:hover{
    color: var(--css);
}
.fa-js-square:hover{
    color: var(--js);
}
.fa-php:hover{
    color: var(--php);
}
.fa-laravel:hover{
    color: var(--laravel);
}

.description_me article button{
    font-size: 1.4em;
    width: 150px;
    height: 50px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, var(--low_yellow), var(--high_yellow));
    cursor: pointer;
    transition: 0.2s;
}

.description_me article button:hover{
    background: linear-gradient(145deg, var(--high_yellow), var(--low_yellow));
    box-shadow: 8px 8px 16px #1d1d1d, 
                -8px -8px 16px #181818;
    transform: scale(0.95);
}



