
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;    
}

.description_me{
    display: inline-block;
}

.description_me article{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 600px;
    height: 350px;
    padding: 0 20px;

    /* background-color: var(--transparent_black); */
    background: linear-gradient(145deg, #202020, #151515);
    box-shadow: 12px 12px 20px #131313, 
                -12px -12px 20px #222222;
    border-radius: 5%;

    text-align: justify;
}

.description_me h1{
    font-size: 150px;
    width: 600px;
}

.description_me h4{
    font-size: 35px;
    position: relative;
    top: -50px;
    left: 50px;
    color: #adadad;
}

.description_me article button{
    
    width: 150px;
    height: 50px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg, #cc4651, #ac3b44);
}

.description_me article button:hover{
    background: linear-gradient(145deg, #ac3b44, #cc4651);
    box-shadow: 8px 8px 16px #1d1d1d, 
                -8px -8px 16px #181818;
    transform: scale(0.95);
}

/* .description_me aside{
    display: inline-block;
    height: 300px;
    width: 700px;
} */

/* .description_me aside img{
    height: 100%;
    width: 100%;
} */

