@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* Color Theme Swatches in Hex */
.Looking-For-The-Answer-1-hex { color: #BF414C; }
.Looking-For-The-Answer-2-hex { color: #A63838; }
.Looking-For-The-Answer-3-hex { color: #BF7373; }
.Looking-For-The-Answer-4-hex { color: #F2DCDC; }
.Looking-For-The-Answer-5-hex { color: #0D0D0D; }

:root{
    --red: #BF414C;
    --brown: #A63838;
    --pale: #BF7373;
    --white: #F2DCDC;
    --black: #0D0D0D;
    --transparent_black: rgba(13, 13, 13, 0.4); 
    --bgcolor: rgb(35, 35, 35);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bgcolor);
    font-family: 'Poppins';
    overflow-x: hidden;
    height: 100vh;
    background-image: url('../img/profil.png');
    background-position: center;
    background-size: cover;
    /* cursor: url('../cursor/finish/005-cursor.png'), auto; */
}
