@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root{
    --red: #BF414C;
    --yellow: #e9ad2a;
    --high_yellow: #ffcf07;
    --low_yellow: #e6ae06;
    --pale: #BF7373;
    --white: #F2DCDC;
    --black: #0D0D0D;

    --html: #f16529;
    --css: #2965f1;
    --js: #f7df1d;
    --php: #777cb4;
    --laravel: #fb503b;


    --transparent_black: rgba(13, 13, 13, 0.4); 
    --bgcolor: rgb(35, 35, 35);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bgcolor);
    font-family: 'Poppins';
    overflow-x: hidden;
    background-image: url('../img/profil.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}